@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

/*Todas las etiquetas*/
* {
    font-family: "Raleway";
}

.card {
    width: fit-content;
    width: -moz-fit-content;
    border: 1px solid rgb(158, 156, 255);
    border-radius: 5px;
    overflow: hidden;
}

.card_popup > img {
    display: block;
    padding: 10px;
    background-color: rgb(255, 244, 142);
    box-sizing: border-box;
    transition: filter 0.5s;
}

.card_popup:hover > img {
    filter: blur(7px);
}

.card_description {
    padding: 0px 10px 0px 10px;
}

.card_description > h2,
p {
    margin: 5px 0px 5px 0px;
}

.card_description > p {
    font-size: 0.8rem;
    color: gray;
}

.card_popup {
    position: relative;
    border-bottom: 1px solid rgb(158, 156, 255);
}

.card_popup_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.4s;
}

.card_popup:hover > .card_popup_content {
    opacity: 1;
}

.card_popup_content_button {
    border: 2px solid white;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    font-weight: bolder;
}

.card_popup_content_button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}