.main{
    height: 400px;
    width: 400px;
    border: 1px solid black;
}
.box{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 80, 172);
    top: calc(100% / 2 - 100px /2); /*calc (50%-50px);*/
    left: calc(100% / 2 - 100px /2); /*calc (50%-50px);*/);
}