section{
    width: 700px;
    height: 300px;
    border: 1px solid black;
}
div{
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
}
.div-1{
    background-color: blue;
    top: 50px;
    left: 150px;
    z-index: 3;   
     
}
.div-2{
    background-color: violet;
    top: 0px;
    left: 100px;
    z-index: 2;
}
.div-3{
    background-color: red;
    top: 50px;
    left: 50px;    
}
.div-4{
    background-color: green;
    top: 100px;
    left: -100px;
    z-index: -1;

}