/*body > :nth-child(n):not(.m1):not(.m2):not(i) {
    background-color: teal;
    color: white;
}*/
body > i:first-of-type, 
body > i:last-of-type {
    background-color: red;
    color: white;
}
body > p:first-of-type, 
body > p:last-of-type {
    background-color: violet;
    color: white;
}
body > span:first-of-type, 
body > span:last-of-type {
    background-color: green;
    color: white;
}