/*body > p:nth-child(n) {
    background-color: red;
    color: white;
}*/
/*body :nth-child(2n) {
    background-color: red;
    color: white;
}*/
section > span:nth-of-type(2) {
    background-color: red;
    color: white;
}