/*p[miAtributo$="Hola"]{
    background-color:green;
    color: white;
    font-weight: bolder;
}
p[miAtributo="Textos"]{
    background-color:rgb(153, 182, 153);
    color: white;
    font-weight: bolder;
}*/
/*p[miAtributo="tex"]{
    background-color:coral;
    color: white;
    font-weight: bolder;
}*/
/*p[miAtributo*="L" i]{
    background-color:green;
    color: white;
    font-weight: bolder;
}*/
/*p[miAtributo]{
    background-color:coral;
    color: white;
    font-weight: bolder;
}*/
/*p[miAtributo="Valores"]{
    background-color:coral;
    color: white;
    font-weight: bolder;
}*/
p[miAtributo^="Tex"]{
    background-color:coral;
    color: white;
    font-weight: bolder;
}