.nuevoh2{
    color: white;
    background-color: rgb(15, 105, 27);
    font-size: 20px;
}
.nuevop{
    color: white;
    background-color: rgb(70, 4, 66);
    font-size: 50px;
}
.nuevospan{
    color: white;
    background-color: red;
    font-size: 10px;
}
