.lineaprimera{
    width: 100%;
    /*height: 50px;*/
    background-color: rgb(112, 3, 3);
}
.lineasegunda{
    width: 75%;
    /*height: 50px;*/
    background-color: rgb(158, 7, 7);
}
.lineatercera{
    width: 50%;
    /*height: 50px;*/
    background-color: rgb(194, 9, 9);
}
.lineacuarta{
    width: 25%;
    /*height: 50px;*/
    background-color: rgb(240, 13, 13);
}
.alto{
    height: 50px;
}
