@import url('https://fonts.googleapis.com/css?family=Bangers|Raleway|Sigmar+One|Uncial+Antiqua|Zhi+Mang+Xing&display=swap');

.raleway{
    font-family: 'Raleway', sans-serif;
}
.SigmarOne{
    font-family: 'Sigmar One', cursive;
}
.Bangers{
    font-family: 'Bangers', cursive;
}
.zhimangxing{
    font-family: 'Zhi Mang Xing', cursive;
}
.uncialantigua{
    font-family: 'Uncial Antiqua', cursive;

}