.box1-p{
    background-color: blue;
    color: white;

    padding-right: 50px;
}
.box2-p{
    background-color:coral;
    color: white;

    padding-top: 20px;
    padding-left: 120px;
}
.box3-p{
    color: white;
    background-color: yellow;
    padding: 30px 65px 10px 20px;
}
