.main{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: coral;
}
.box-normal{
    width: 250px;
    height: 250px;
    background-color: crimson;
    margin-left: 100px;
}
.box-absolute{
    position: absolute; /*cambio a relative para que se posicione abajo y el display del div se gana abajo, si lo quiero al lado es line block o float letf*/
    width: 100px;
    height: 100px;
    background-color: teal; 
    left: 0px;
}
.box-relative{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: cyan;
}