.modo-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	width: 500px;
	grid-template-areas:
		"header"
		"section"
		"footer";
}
.modo-grid > div {
	border: 1px solid white;
	background-color: rgb(52, 203, 230);
}
.texto {
	display: inline-block;
	text-align: justify;
	height: auto;
	width: 200px;
	vertical-align: top;
	margin-top: 20px;
}
header {
	grid-area: header;
	background-color: black;
	/*height: 60px;*/
	color: white;
	text-align: center;
	font-size: 50px;
}
.section-atras{
    grid-area: section;
}
.section-sobre {
	grid-area: section;
    background-color: rgba(0, 0, 0, 0.685);
	color: white;
	text-align: center;
	z-index: 1;
	padding: 20px;
}
.imagen {
	width: 250px;
	text-align: center;
	display: inline-block;
	margin: 20px;
}
.imagen-cohete{
	width: 150px;
}

.boton{
	width: 250px;
	height: 50px;
    border: 5px solid green;
    border-radius: 7px;
    color: white;
    /*font-size: 36px;
    /*text-align: center;*/
    margin: 0 auto;
}
footer {
	grid-area: footer;
	background-color: black;
	/*height: 60px;*/
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 20px;
}